.Loading-contener {
    z-index: 10000;
    width: 100vw;
    transform: scale(2);
    height: 100vh;
}

.Loading-contener h1 {
    z-index: 10000;
    color: white;
    font-size: 100px;
    position: absolute;
    padding: 360px 520px;
    top: 0%;
    left: 0%;
    background-color: black;
}