:root {
    --bg: #F8F9FA;
    --primary: rgb(42, 82, 209);
    --secondary: #FF6347;
    --text: #333333;
    --accent: #FFD700;
    --small: 10px;
    --fff: #fff;
}

img {
    image-rendering: optimizeQuality;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

<<<<<<< HEAD
.header {
    padding: 0.99rem 9%;
    display: flex;
    background-color: var(--primary);
    position: relative;
    justify-content: space-between;
    align-items: baseline;

    &-icon {
        position: fixed;
        font-size: 250%; // Thay đổi kích thước biểu tượng tại đây
        margin: 0;
        padding: 0;
        left: 1.4%;
        top: 2.5%;
        color: var(--fff); // Thay đổi màu sắc nếu cần
        cursor: pointer;

        &::after {
            content: '';
            position: absolute;
            background-color: var(--primary);
            bottom: -10px;
            left: -25px;
            width: 140%;
            padding: 20% 50% 40% 50%;
            height: 140%;
            z-index: -1;
            border-radius: 0px 0px 4px 0px;
            transition: width 0.3s, background-color 0.3s;
        }
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.nav {
    &-link {
        color: #fff;
        text-decoration: none;
        position: relative;
        font-size: 140%;
        margin: 0 1rem;
        justify-content: center;
        font-weight: 800;
        padding: 10px;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 0;
            height: 5px;
            background-color: transparent;
            transition: width 0.3s, background-color 0.3s;
            transition-delay: 0.08s;
        }

        &:hover::after {
            width: 100%;
            background-color: #fff;
        }

        &:last-child {
            cursor: pointer;
            position: relative;
            margin: 0;
        }
    }
}

.img-avatar {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 10%;
    object-fit: fill;
}

.user {
    &-basic-information {
        display: flex;
        align-items: center; // Căn giữa các phần tử
    }

    &-name {
        font-size: 1.7rem;
        margin: 0;
        width: fit-content;

    }

    &-email {
        font-size: 0.7rem;
        text-align: left;
        margin: 0;
    }

    &-details {
        display: flex;
        flex-direction: column; // Đặt username trên user-email
    }

    &-posts {
        display: block;
        text-decoration: none;
        margin: 7px 0;
        border-radius: 4px;
        height: 30px;
        width: 100%;
        color: black;
        font-weight: 400;
        padding: 7px 0 5px 0;
        transition: background-color 0.3s;
        background-color: rgba(0, 0, 0, 0.06);
    }

    &-profile {
        display: block;
        text-decoration: none;
        margin: 7px 0;
        font-weight: 400;
        border-radius: 4px;
        height: 30px;
        color: black;
        padding: 7px 0 5px 0;
        transition: background-color 0.3s;
        background-color: rgba(0, 0, 0, 0.06);

    }

}

.user-profile:hover,
.user-posts:hover {
    background-color: rgba(0, 0, 0, 0.2);
    transform: translateY(-0.5px);
}

.logout-button {
    padding: 10px 12px;
    color: black;
    border: none;
    width: 100%;
    font-weight: 700;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    background-color: #bc3030;
    color: var(--fff);

    &:hover {
        transform: translateY(-2px);
    }
}


.user-container {
    position: absolute;
    padding: 1rem;
    left: -50%;
    width: 170%;
    top: 120%;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 8px;
    transition: 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: var(--text);
    animation: fade-in 0.2s ease-in-out;
}

.profile-icon {
    position: relative;
    font-size: 170%;
    margin: -0.5rem 0;
    right: 5%;
=======
@media screen and (max-width: 2200px) {

    .header {
        padding: 0.99rem 9%;
        display: flex;
        background-color: var(--primary);
        position: relative;
        justify-content: space-between;
        align-items: baseline;

        &-icon {
            position: fixed;
            font-size: 250%; // Thay đổi kích thước biểu tượng tại đây
            margin: 0;
            padding: 0;
            left: 1.4%;
            top: 2.5%;
            color: var(--fff); // Thay đổi màu sắc nếu cần
            cursor: pointer;

            &::after {
                content: '';
                position: absolute;
                background-color: var(--primary);
                bottom: -10px;
                left: -25px;
                width: 140%;
                padding: 20% 50% 40% 50%;
                height: 140%;
                z-index: -1;
                border-radius: 0px 0px 4px 0px;
                transition: width 0.3s, background-color 0.3s;
            }
        }
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-20px);
        }

        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .nav {
        display: flex;

        &-link {
            color: #fff;
            text-decoration: none;
            flex-wrap: wrap;
            position: relative;
            font-size: 140%;
            margin: 0 1rem;
            justify-content: center;
            font-weight: 800;
            padding: 10px;

            &::after {
                content: '';
                position: absolute;
                bottom: -2px;
                left: 0;
                width: 0;
                height: 5px;
                background-color: transparent;
                transition: width 0.3s, background-color 0.3s;
                transition-delay: 0.08s;
            }

            &:hover::after {
                width: 100%;
                background-color: #fff;
            }

            &:last-child {
                cursor: pointer;
                position: relative;
                margin: 0;
            }
        }
    }

    .img-avatar {
        width: 60px;
        height: 60px;
        margin-right: 10px;
        border-radius: 10%;
        object-fit: fill;
    }

    .user {
        &-basic-information {
            display: flex;
            align-items: center; // Căn giữa các phần tử
        }

        &-name {
            font-size: 1.7rem;
            margin: 0;
            width: fit-content;

        }

        &-email {
            font-size: 0.7rem;
            text-align: left;
            margin: 0;
        }

        &-details {
            display: flex;
            flex-direction: column; // Đặt username trên user-email
        }

        &-posts {
            display: block;
            text-decoration: none;
            margin: 7px 0;
            border-radius: 4px;
            height: 30px;
            width: 100%;
            color: black;
            font-weight: 400;
            padding: 7px 0 5px 0;
            transition: background-color 0.3s;
            background-color: rgba(0, 0, 0, 0.06);
        }

        &-profile {
            display: block;
            text-decoration: none;
            margin: 7px 0;
            font-weight: 400;
            border-radius: 4px;
            height: 30px;
            color: black;
            padding: 7px 0 5px 0;
            transition: background-color 0.3s;
            background-color: rgba(0, 0, 0, 0.06);

        }

    }

    .user-profile:hover,
    .user-posts:hover {
        background-color: rgba(0, 0, 0, 0.2);
        transform: translateY(-0.5px);
    }

    .logout-button {
        padding: 10px 12px;
        color: black;
        border: none;
        width: 100%;
        font-weight: 700;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        background-color: #bc3030;
        color: var(--fff);

        &:hover {
            transform: translateY(-2px);
        }
    }


    .user-container {
        position: absolute;
        padding: 1rem;
        left: -50%;
        width: 170%;
        top: 120%;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border: 1px solid #ddd;
        text-align: center;
        border-radius: 8px;
        transition: 0.3s;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        color: var(--text);
        animation: fade-in 0.2s ease-in-out;
    }

    .profile-icon {
        position: relative;
        font-size: 170%;
        margin: -0.5rem 0;


        right: 5%;
    }


}

@media screen and (max-width: 768px) {
    .header {
        flex-direction: column; // Đổi hướng flex cho màn hình nhỏ
        align-items: center; // Căn giữa
    }


    .header-icon {
        display: none;
    }

    .nav {
        flex-direction: column; // Chuyển thành dạng cột
        align-items: center; // Căn giữa
    }

    .nav-link {
        font-size: 120%; // Giảm kích thước font cho màn hình nhỏ
        margin: 0.5rem 0; // Đặt khoảng cách cho các link
    }
}

@media screen and (max-width: 900px) {
    .header {
        align-items: center; // Căn giữa
    }


    .header-icon {
        display: none;
    }

    .nav-link {
        font-size: 110%; // Giảm kích thước font cho màn hình nhỏ
    }
>>>>>>> 086163e (74% done)
}