body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

.container {
    position: absolute;
    left: 35%;
    top: 10%;
}

.form-container {
    width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input,
select {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: white;
    color: black;
    border: black 2px solid;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: black;
    color: white;
    border: white 2px solid;
}

.page-title {
    text-align: center;
}

.linkfake {
    padding: 10px;
    background-color: white;
    color: black;
    border: black 2px solid;
    top: 2%;
    left: 1%;
    width: 80px;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.3s ease;
    position: absolute;
}

.linkfake:hover {
    background-color: black;
    color: white;
    border: white 2px solid;
}