.top-users-container {
    width: 23vw;
    margin: 16px; // Adjust as needed

}

.top-users {

    &-title {
        margin-bottom: 16px; // Adjust spacing as needed
    }

    &-loading {
        text-align: center; // Center the loading spinner

    }

    &-error {
        margin: 16px 0; // Spacing for error message
    }

    &-empty {
        text-align: center; // Center the message
        color: #888; // Gray color for empty message
    }

    &-avatar {
        display: flex;
        align-items: center; // Center the avatar vertically
        justify-content: center; // Center the avatar horizontally    
    }

    &-item {
        margin-bottom: 12px; // Spacing between list items
    }

    &-username {
        color: #007bff; // Example color for usernames
        font-size: large;
    }
}



.top-users-avatar .ant-avatar {
    width: 80px; // Set desired width
    height: 80px; // Set desired height
    border-radius: 50%; // Make it circular
    border: 2px solid #007bff; // Optional: border around the avatar

    &:hover {
        border: 3px dotted #007bff; // Optional: border around the avatar
    }
}