.register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5; // Màu nền nhẹ nhàng

    .register-form {
        background: #ffffff;
        padding: 24px;
        border-radius: 8px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        width: 400px; // Chiều rộng của form

        .register-title {
            text-align: center;
            font-size: 24px;
            color: #333;
            margin-bottom: 16px;
        }

        .register-welcome {
            text-align: center;
            color: #666;
            margin-bottom: 20px;
            font-size: 14px;
        }

        .register-toregister {
            display: block;
            text-align: center;
            margin-top: 12px;
            color: #1890ff; // Màu xanh cho liên kết
            cursor: pointer;

            &:hover {
                text-decoration: underline; // Gạch chân khi hover
            }
        }

        .ant-btn {
            width: 100%; // Đặt chiều rộng nút 100%
            margin-top: 16px; // Khoảng cách phía trên nút
        }

        .ant-upload {
            text-align: center; // Căn giữa nội dung upload
            margin-bottom: 16px; // Khoảng cách phía dưới
        }
    }
}