.search-container {
    position: relative;
    left: 17%;
}

.search-input {
    color: var(--primary);
    background-color: white;
    border: none;
    padding: 5% 0% 5% 15%;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 10px;

    &::placeholder {
        color: var(--primary);
    }
}


.inside-input {
    position: absolute;
    color: var(--primary);
    font-size: 25px;
    top: 31%;
    left: 7%;
    cursor: pointer;
}

.search-button {
    display: none;
}

.search-input:focus {
    outline: none;
}