.newsletter-container {
    padding: 20px;
    .ant-input {
        width: 100%; 
    }
    @media (max-width: 900px) {
        text-align: center;

        .ant-form {
            flex-direction: column;
            align-items: center;

            .ant-form-item {
                width: 100%; 
                margin-bottom: 10px; 
            }

            .ant-input {
                width: 100%; 
            }
        }
    }
}