.category-post-list-container {
    padding: 20px;
    width: 88vw;
    margin: 0 5vw;

    .category-post-list-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .category-post-layout {
        display: flex;
        overflow-x: hidden;
        padding: 10px;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none; // Ẩn thanh cuộn trên trình duyệt WebKit (Chrome, Safari)
        }

        // Adjust for smaller screens
        @media (max-width: 1400px) {
            flex-wrap: wrap;
        }

        @media (max-width: 900px) {
            flex-direction: column;
            align-items: center;
            // Adjust card width
            .ant-card {
                width: 100vw;
                margin: 10px 0;
            }
        }
    }

    .category-button-container {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;

        button {
            flex: 0.03; // Make buttons responsive
            margin: 0 5px; // Add some spacing between buttons
        }
    }
}