.sidebar {
    height: 100vh; // Chiếm hết chiều cao của viewport
    position: fixed; // Để sidebar cố định
    top: 0;
    left: 0;
    background-color: #001529; // Màu nền
    display: flex; // Sử dụng Flexbox
    flex-direction: column; // Sắp xếp theo chiều dọc
    transition: width 0.3s; // Hiệu ứng chuyển tiếp khi thay đổi kích thước
    width: 266px; // Kích thước mặc định

    &.collapsed {
        width: 77px; // Kích thước khi thu nhỏ
    }

    .user-info {
        display: flex; // Flexbox để căn chỉnh avatar và thông tin
        align-items: center; // Căn giữa theo chiều dọc
        padding: 16px; // Padding cho không gian
        background-color: #001529; // Màu nền giống với sidebar

        .avatar {
            width: 50px; // Kích thước hình đại diện
            height: 50px; // Kích thước hình đại diện
            border-radius: 50%; // Để hình tròn
            margin-right: 10px; // Giãn cách với thông tin
        }

        .user-details {
            color: #fff; // Màu chữ trắng

            .user-name {
                margin: 0; // Bỏ margin
                font-size: 16px; // Kích thước font cho tên
            }

            .user-role,
            .user-email {
                margin: 0; // Bỏ margin
                font-size: 14px; // Kích thước font cho vai trò và email
                opacity: 0.7; // Màu nhạt hơn
            }
        }
    }

    .menu {
        flex: 1; // Để menu chiếm hết không gian còn lại
        padding: 0; // Bỏ padding

        .ant-menu-item {
            font-size: 19px; // Tăng kích thước font chữ

            &:last-child {
                opacity: 0.9;
                color: red;
                transition: background-color 0.3s ease-out;

                &:hover {
                    background-color: rgb(43, 41, 41);
                }

                &:focus {
                    background-color: darkred;
                }

            }

            .anticon {
                font-size: 24px; // Tăng kích thước biểu tượng
            }
        }
    }

    .toggle-button {
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        padding: 8px;
        font-size: 120%;
        margin: 10px; // Giãn cách với cạnh dưới
        transition: background-color 0.3s; // Hiệu ứng chuyển tiếp cho nút

        &:hover {
            background-color: #0056b3;
        }
    }
}